<div class="container">
    <form>
        <div class="row">
            <div class="col-6">
        <div class="mb-3">
            <label for="exampleFormControlName" class="form-label">Email address</label>
            <input type="text" class="form-control" id="exampleFormControlName">
          </div></div>
    
          <div class="col-6">
          <div class="mb-3">
            <label for="exampleFormControlAge" class="form-label">Age</label>
            <input type="number" class="form-control" id="exampleFormControlAge">
          </div>
        </div>
        </div>
    
        <div class="row">
            <div class="col-6">
          <div class="mb-3">
            <label for="exampleFormControlPassword" class="form-label">Password</label>
            <input type="text" class="form-control" id="exampleFormControlPassword">
          </div>
            </div>
            <div class="col-6">
          <div class="mb-3">
            <label for="exampleFormControlConfirmPassword" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" id="exampleFormControlConfirmPassword">
          </div>
        </div>
        </div>
        <button class="btn btn-success">Submit</button>
        </form>
    </div>